body {
  background-color: aquamarine;
}


.coolTitle {
  text-align: left;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  /*transform: skewY(-10deg);*/
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

.button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

.buttonRed {
  background-color: rgb(250, 157, 165); 
  color: black; 
  border: 2px solid #f44336;
  border-radius: 15px;
}

.buttonRed:hover {
  background-color: #f44336;
  color: white;
}


